/* Sidebar.css */
#sidebar {
    background-color: white;
    width: 280px;
    height: 100vh;
    border-right: 1px solid #e5e7eb;
}

#sidebar .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
}

#sidebar-content {
    list-style-type: none;
    margin-top: 24px;
    padding: 0;
    cursor: pointer;
}

#sidebar-content .tab {
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.icon {
    padding: 8px;
}

#sidebar-content .active {
    background-color: #3c3c3c;
    color: white;
    scale: 1.05;
}

#sidebar-content .tab:hover:not(.active) {
    background-color: #e5e7eb;
}