/* Navbar.css */
#top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: white;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
}

.nav-item {
    font-size: 16px;
    color: #333;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    padding: 14px;
    text-decoration: none;
}


.add-product-button {
    color: white;
    background-color: #ff8005;

}

#top-navbar input {
    border: none;
    outline: 2px solid #e5e7eb;
}

img {
    filter: invert(100%) brightness(200%);
}

#top-navbar img {
    background-color: #ff8005;
    height: 30px;
    width: 30px;
    object-fit: contain;
    align-items: end;

}