.product-detail-container {
    margin: 0px;
    padding: 12px;
    text-align: start;
}

.heading {
    margin: 0px;
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
}


.container {
    border: 1px solid #e5e7eb;
    padding: 12px;
    border-radius: 8px;
}