.product-detail-container {
    margin: 0px;
    padding: 24px;
    text-align: start;
}

/* Product details sub-sections heading */
.heading {
    margin: 0px;
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
}

/* Product details sub-sections container */
.container {
    border: 1px solid #e5e7eb;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}


p:not(.heading) {
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}


.title-input,
.description-input {
    border: none;
    outline: none;
    width: calc(100% - 15px);
    height: 45px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 12px;
    background-color: #e5e7eb;
}

.description-input {
    height: 100px;
}