.product-detail-container {
    margin: 0px;
    padding: 24px;
    text-align: start;
}

.img-container {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    background-color: #F9FAFB;
}