.product-detail-container {
    margin: 0px;
    padding: 24px;
    text-align: start;
}

/* Product details sub-sections heading */
.heading {
    margin: 0px;
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
}

/* Product details sub-sections container */
.container {
    border: 1px solid #e5e7eb;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}


p:not(.heading) {
    margin: 0px;
    margin-bottom: 12px;
}


.title-input {
    border: none;
    outline: none;
    height: 45px;
    font-size: 24px;
    border-radius: 8px;
    background-color: #e5e7eb;
}