#input-field-label {
    margin: 0px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

#input-field,
#input-field-textarea {
    border: none;
    outline: none;
    width: calc(100% - 15px);
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 12px;
    background-color: #F9FAFB;
}

#input-field-textarea {
    height: 60px;
    padding: 12px;
}