#body-content {
    display: flex;
    flex-direction: column;
    margin: 24px;
    position: relative;
    margin-left: 280px;
    width: calc(100% - 580px);
    height: 100vh;
    width: calc(100% - 48px);
    box-sizing: border-box;
}