/* #content-body {
    margin: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
} */

#body-content {
    display: flex;
    flex-direction: column;
    margin: 24px;

    background-color: lightgray;
    box-sizing: border-box;
}