/* #content-body {
    margin: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
} */

#body-content {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 12px;
    height: calc(100% - (75px + 48px));
    width: calc(100% - 48px);
    background-color: white;
    box-sizing: border-box;
}