/* #content-body {
    margin: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
} */

#body-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Full viewport height */
    width: 100%;
    /* Full width */
    background-color: lightgray;
    /* Debug color */
    box-sizing: border-box;
}