/* #content-body {
    margin: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
} */

#content-body {
    margin: 24px;
    width: 100%;
    background-color: red;
}