#details-section-container-heading {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

#details-section-container {
    border: 1px solid #e5e7eb;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}